* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Parent {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffaf5;
}

.Child {
  width: 90%;
  max-width: 350px;
  background: #ffffff;
  border-radius: 20px;
  padding: 30px 0;
  margin-top: 10px;
  margin-bottom: 12px;
  border-radius: 16px;
  border: 1.5px solid #fed7aa;
  box-shadow: 0 10px 25px rgba(249, 115, 22, 0.08);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.Logodiv {
  display: flex;
  justify-content: center;
}

.Loginlogo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.heading {
  font-size: 28px;
  color: #222;
}

.inputdiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputdiv input {
  width: 85%;
  height: 45px;
  padding: 0 12px;
  /* padding: 12px 16px; */
  font-size: 16px;
  border: 1.5px solid #cbd5e1;
  border-radius: 10px;
  outline: none;
}

.inputdiv input:focus {
  border-color: rgb(22, 22, 79);
}

.buttondiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttondiv button {
  width: 85%;
  height: 45px;
  border: none;
  border-radius: 10px;
  background: rgb(22, 22, 79);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.buttondiv button:hover {
  opacity: 0.9;
}

.anchordiv {
  text-align: center;
}

.anchordiv a {
  text-decoration: none;
  color: rgb(22, 22, 79);
  font-size: 15px;
}

.anchordiv a:hover {
  text-decoration: underline;
}

.errormsg {
  color: red;
}
@media screen and (max-width: 768px) {
  .Child {
    width: 100%;
    margin: auto;
    padding: auto;
    padding-top: 0;
    background-color: #fffaf5;
    /* border: 1.5px solid #fed7aa; */
    box-shadow: none;
  }
  .buttondiv button {
    max-width: 80%;
  }
}
